/* Add your custom CSS here */
.brand-name{
padding-left: 40px;
color: #01903c;
font-weight: bold;
}

.dashboard {
    background-color: 
#063431;
    color: white;
    border-radius: 5px;
}

.organization-box {
position: relative;
overflow: hidden;
text-align: center; /* Center-align the content inside the box */
}

.organization-box img {
max-width: 50%; /* Adjust the size of the logo */
height: auto;
margin: 0 auto; /* Center the logo horizontally */
display: block; /* Ensure the image is centered properly */
transition: transform 0.3s ease-in-out;
}

.organization-box .overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #063431b6;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}

.organization-box:hover .overlay {
opacity: 1;
}

.organization-box:hover img {
transform: scale(1.1);
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #063431b6; /* Adjust the opacity as needed */
}

.count {
font-size: 48px; /* Adjust the font size as needed */
font-family: "Arial", sans-serif; /* Change the font family as needed */
color: #01903c; /* Change the color as needed */
}

.center_t {
text-align: center;
}

.learn-more-btn {
    background-color: #01903c; /* Your brand color */
    color: #ffffff; /* Text color */
    padding: 5px 5px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .learn-more-btn:hover {
    background-color: #017032; /* Darker shade on hover */
  }

  .about_link, .about_link:hover{
    color: #fff;
    text-decoration: none;
  }
